{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "extends":["eslint-config-airbnb-es5"],
    "rules": {
        "indent": [2, 4]
    }
}
